
<nav>

 
    <div style="display: flex; justify-content:space-between;">

    
    <div>
        <h2>MyApp</h2>
    </div>


    <div style="display: flex; justify-content:space-evenly; margin-right: 10rem; margin-top: 1.3rem;">
            <li><a href=""> Home </a></li>
            <li><a href=""> Services </a></li>
            <li><a href=""> Dashboard </a></li>
            <li><a href=""> About Us  </a></li>
   </div>

</div>

</nav>

<button (click)="onLogout()" style="text-align: center; margin-left: 30%; color: green; border: 1rem; width: 5rem; height: 3rem;">LogOut</button>



<style>
    li
    {
        list-style: none;
        margin-right: 2rem;

    }
    li a
    {
        text-decoration: none;
    }
</style>